.comments-h {
	margin-bottom: 5px !important;
}

.left-cell-articles {
	margin: 0px;
	padding-top: 3px;
	color: #676a6c;
}

.left-cell-button {
	margin-top: 0px;
}

.text-link {
	color: #676a6c
}

.text-link:hover {
	color: #676a6c
}

.commenter-name-dash {
	font-weight: normal;
	font-size: 13px;
}

.comment-head-dash {
	margin-bottom: 6px;
}

.comment-dash {
	margin: 5px;
}

.comment-date-dash {
	color: #999;
}