#content {
	margin: 20px 0px 50px 0px;
	background-color: #fff;
	border-top: 4px solid $color-three;
	color: #676a6c;
}

#content header {
	border-bottom: 1px #f3f3f4 solid;
	padding: 10px 20px;
}

.page_title {
	font-size: 14px;
	font-weight: bold;
	margin: 0px;
}

.content-inner {
	padding: 20px;

	.form-wrapper {
		background-color: #eee;
		padding: 20px;
	}
}

.note-editable {
	background-color: #fff;
}

.chosen-container, .chosen-container-multi {
	width: 100% !important;
}