#side-menu {
	background-color: $color-one;
	padding: 0px;
	font-weight: normal;

	.main_logo {
		padding: 5px 5px 107px 5px;
	}
}

#side-menu ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#side-menu a {
	padding: 12px 20px;
	text-decoration: none;
	color: $color-four;
	font-size: 20px;
	display: block;
}

#side-menu .glyphicon {
	margin-right: 6px;
}

#side-menu a:hover {
	background-color: $color-two;
	color: #fff;
	display: block;
}

#side-menu .active a {
	color: $color-four;
	background-color: $color-two;
}

#side-menu .settings-btn {
	margin-left: 0px;
	background-color: #1ab394;
}

#side-menu .settings-btn a {
	color: $color-four;
	background-color: $color-three;
}
#side-menu .settings-btn a:hover {
	background-color: $color-two;
	-o-transition: background 0.3s linear 0s, color 0.3s linear 0s;
	-ms-transition: background 0.3s linear 0s, color 0.3s linear 0s;
	transition: background 0.3s linear 0s, color 0.3s linear 0s;
}

#side-menu .collapseable li {
	padding-left: 30px;
	padding-top: 5px;
}

#side-menu .collapseable a {
	color: $color-four;
	font-size: 16px;
	padding: 0px 10px;
	text-decoration: none;
	display: block;
	background-color: transparent;
}

#side-menu .collapseable li:hover {
	color: #fff;
	background-color: $color-two;
}

#side-menu .collapseable a:hover {
	color: #fff;
	background-color: $color-two;
}

#side-menu .collapseable {
	border-left: 4px solid $color-two;
	background-color: transparent;
}

#side-menu .link > ul > li {
	padding-bottom: 10px;
}