/*=======================================
                COLORS
=======================================*/

$color-one: #171516;
$color-two: #fdc113;
$color-three: #414141;
$color-four: #ffffff;
$color-five: #231f1f;