/*doc
---
title: Colors
name: colors
category: Basics
---
<div class="cf">
	<div class="doc-color-brand">
		<div class="doc-color-lighter"></div>
		<div class="doc-color-darker"></div>
	</div>
	<div class="doc-color-base">
		<div class="doc-color-lighter"></div>
		<div class="doc-color-darker"></div>
	</div>
	<div class="doc-color-primary">
		<div class="doc-color-lighter"></div>
		<div class="doc-color-darker"></div>
	</div>
	<div class="doc-color-secondary">
		<div class="doc-color-lighter"></div>
		<div class="doc-color-darker"></div>
	</div>
	<div class="doc-color-text">
		<div class="doc-color-lighter"></div>
		<div class="doc-color-darker"></div>
	</div>
	<div class="doc-color-link">
		<div class="doc-color-lighter"></div>
		<div class="doc-color-darker"></div>
	</div>
	<div class="doc-color-positive">
		<div class="doc-color-lighter"></div>
		<div class="doc-color-darker"></div>
	</div>
	<div class="doc-color-negative">
		<div class="doc-color-lighter"></div>
		<div class="doc-color-darker"></div>
	</div>
	<div class="doc-color-neutral">
		<div class="doc-color-lighter"></div>
		<div class="doc-color-darker"></div>
	</div>
	<div class="doc-color-warning">
		<div class="doc-color-lighter"></div>
		<div class="doc-color-darker"></div>
	</div>
	<div class="doc-color-info">
		<div class="doc-color-lighter"></div>
		<div class="doc-color-darker"></div>
	</div>
	<div class="doc-color-special">
		<div class="doc-color-lighter"></div>
		<div class="doc-color-darker"></div>
	</div>
</div>

*/
@import url("https://fonts.googleapis.com/css?family=Cabin+Sketch|Oswald:300");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
html, body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 15px;
  background-color: #f3f3f4;
  color: #676a6c;
  height: 100%; }

.display-table {
  display: table;
  padding: 0px;
  width: 100%;
  height: 100%; }

.display-table-row {
  display: table-row;
  height: 100%; }

.display-table-cell {
  display: table-cell;
  float: none;
  height: 100%; }

.valign-top {
  vertical-align: top; }

/* For all primary-buttons */
.btn-primary {
  background-color: #171516;
  border: 1px solid #171516; }

.btn-primary:hover {
  background-color: #414141;
  border: 1px solid #414141; }

.btn-primary:focus {
  background-color: #414141;
  border: 1px solid #414141; }

/* For articles.html>.content-inner>btn go */
.go {
  height: 31px; }

/* For Active inside content */
.label-success {
  background-color: #5cb85c;
  color: black; }

.label-warning {
  background-color: #fdc113; }

.label-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px; }

.label-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px; }

.label-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px; }

.pagination a {
  color: #1ab394 !important; }

.btn-default {
  color: #676a6c;
  border: 1px #eee solid; }

.btn-default:hover {
  background-color: #f3f3f4;
  color: #676a6c;
  border: 1px #eee solid; }

/*=======================================
                COLORS
=======================================*/
#side-menu {
  background-color: #171516;
  padding: 0px;
  font-weight: normal; }
  #side-menu .main_logo {
    padding: 5px 5px 107px 5px; }

#side-menu ul {
  list-style: none;
  margin: 0px;
  padding: 0px; }

#side-menu a {
  padding: 12px 20px;
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  display: block; }

#side-menu .glyphicon {
  margin-right: 6px; }

#side-menu a:hover {
  background-color: #fdc113;
  color: #fff;
  display: block; }

#side-menu .active a {
  color: #ffffff;
  background-color: #fdc113; }

#side-menu .settings-btn {
  margin-left: 0px;
  background-color: #1ab394; }

#side-menu .settings-btn a {
  color: #ffffff;
  background-color: #414141; }

#side-menu .settings-btn a:hover {
  background-color: #fdc113;
  -o-transition: background 0.3s linear 0s, color 0.3s linear 0s;
  -ms-transition: background 0.3s linear 0s, color 0.3s linear 0s;
  transition: background 0.3s linear 0s, color 0.3s linear 0s; }

#side-menu .collapseable li {
  padding-left: 30px;
  padding-top: 5px; }

#side-menu .collapseable a {
  color: #ffffff;
  font-size: 16px;
  padding: 0px 10px;
  text-decoration: none;
  display: block;
  background-color: transparent; }

#side-menu .collapseable li:hover {
  color: #fff;
  background-color: #fdc113; }

#side-menu .collapseable a:hover {
  color: #fff;
  background-color: #fdc113; }

#side-menu .collapseable {
  border-left: 4px solid #fdc113;
  background-color: transparent; }

#side-menu .link > ul > li {
  padding-bottom: 10px; }

#nav-header {
  background-color: #fff;
  border-bottom: 1px solid #e7eaec; }
  #nav-header #header-search-field {
    padding-top: 17px;
    vertical-align: center;
    border: none;
    width: 300px;
    outline: none; }

#nav-header ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  color: #676a6c; }

#nav-header li {
  float: left;
  margin-left: 15px;
  padding: 17px 0px; }

#nav-header .glyphicon {
  color: #676a6c; }

.label-message {
  background-color: #fdc113; }

#nav-header a {
  text-decoration: none; }

#nav-header .logout {
  color: #676a6c; }

#nav-header .logout:hover {
  color: #676a6c; }

#nav-header #welcome {
  margin-right: 20px; }

#nav-header .label {
  position: absolute;
  margin-top: -10px;
  margin-left: -5px; }

.fixed-width {
  width: 35px; }

.navbar-default {
  background-color: #fff; }

.navbar-default .navbar-toggle {
  background-color: #fdc113;
  border-color: #fdc113; }

.navbar-default .icon-bar {
  border: 1px solid #414141; }

.navbar-default .navbar-toggle:hover {
  background-color: #fdc113;
  border-color: #fdc113; }

.navbar-default .navbar-toggle:focus {
  background-color: #fdc113;
  border-color: #fdc113; }

.navbar-default .icon-bar:hover {
  border: 1px solid #171516; }

#admin-footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  color: #676a6c;
  background-color: #fff;
  padding: 10px;
  font-size: 12px; }

#content {
  margin: 20px 0px 50px 0px;
  background-color: #fff;
  border-top: 4px solid #414141;
  color: #676a6c; }

#content header {
  border-bottom: 1px #f3f3f4 solid;
  padding: 10px 20px; }

.page_title {
  font-size: 14px;
  font-weight: normal;
  margin: 0px; }

.content-inner {
  padding: 20px; }
  .content-inner .form-wrapper {
    background-color: #eee;
    padding: 20px; }

.note-editable {
  background-color: #fff; }

.chosen-container, .chosen-container-multi {
  width: 100% !important; }

.search-row {
  margin-bottom: 30px; }

.search-field {
  height: 31px;
  border: 1px #e7eaec solid; }

.article-row p {
  font-size: 16px;
  margin-bottom: 0px;
  font-weight: 400; }

.status-padding {
  padding-top: 5px; }

.article-title small {
  color: #bbb; }

@media (max-width: 911px) {
  .article-title {
    padding-left: 30px; } }
@media (min-width: 767px) {
  .article-actions {
    float: right; } }
@media (max-width: 767px) {
  .article-actions {
    padding-left: 10px;
    margin-top: 10px; } }
.comments-row {
  margin-bottom: 30px; }

.comment-age {
  font-size: 12px; }

.comments-well {
  margin-top: 10px; }

.btn-default {
  color: #676a6c;
  border: 1px #eee solid; }

.btn-default:hover {
  color: #676a6c;
  border: 1px #eee solid;
  background-color: #f3f3f4; }

.dashboard-left-cell {
  padding-right: 5px; }

.dashboard-right-cell {
  padding-left: 5px; }

.admin-content-con {
  margin-top: 20px;
  background-color: #fff;
  border-top: 4px solid #414141;
  padding: 15px; }

.admin-content-con h5 {
  margin: 0px;
  padding-top: 3px; }

.admin-content-con header {
  margin-bottom: 20px;
  border-bottom: 1px #eee solid;
  padding-bottom: 10px; }

.settings-row {
  border-bottom: 1px #eee solid;
  padding: 10px;
  margin: 10px; }

.settings-row header {
  margin-bottom: 3px;
  font-size: 16px; }

.settings-row p {
  color: #999; }

@media (min-width: 480px) {
  .small-input {
    width: 100px; } }
.settings-btn {
  margin-left: 20px; }

.comments-h {
  margin-bottom: 5px !important; }

.left-cell-articles {
  margin: 0px;
  padding-top: 3px;
  color: #676a6c; }

.left-cell-button {
  margin-top: 0px; }

.text-link {
  color: #676a6c; }

.text-link:hover {
  color: #676a6c; }

.commenter-name-dash {
  font-weight: normal;
  font-size: 13px; }

.comment-head-dash {
  margin-bottom: 6px; }

.comment-dash {
  margin: 5px; }

.comment-date-dash {
  color: #999; }

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1; }

/*# sourceMappingURL=style.css.map */
